<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

{% if lines %}

{% else %}
	<form method="post" action="/upload_doc" enctype="multipart/form-data">
		<dl>
			<p>
				<input id="fileInput" type="file" name="file" multiple="" autocomplete="off" required>
			</p>
		</dl>
		<p>
			<input id="fileSubmit" type="submit" value="Upload" onclick="$('#uploading').show();">
		</p>
	</form>
	<div id="uploadng" style="display:none;"><img src="{{ url_for('static', filename='images/loading.gif') }}"" alt="Loading!"/></div>

{% endif %}

