{% extends 'base.html' %}

{% block page_id %}About{% endblock %}
{% block title %}About{% endblock %}
{% block description %}About{% endblock %}

{% block content %}

<section id="main-content" role="region" aria-labelledby="title">
    <div class="container">
      <div class="row align-items-center">
         <div class="col text-center">
           <header>
             <h1 id="title">About</h1>
           </header>
           <p>Binarization of End User License Agreement Regression - BEULAR</p>
         </div>
      </div>
    </div>
</section>

{% endblock %}